[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Anki
Exec=invoker --single-instance --type=e /usr/bin/ankiqml
Icon=/usr/share/icons/hicolor/64x64/apps/ankiqml.png
Categories=Education;
